fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-google-genai
langchain-community
langchain-core
pypdf
python-docx
docx2txt
faiss-cpu
pydantic
openpyxl>=3.1.0
python-pptx>=0.6.21
supabase
google-genai
